  header {
    text-align: center;
    background: url("background_image_space.jpg");
    background-size:cover;
    color: white;

  }

  body {
    background-image: linear-gradient(black, #330033);
}

  


  img {
    height: 100px;
    width: 100px;
    margin: 40px 0px 0px 0px;
    border: 1px solid white;
    border-radius: 20px;
  }
  ul {
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: white;
    overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;
  }
  li {
    display: inline;
    padding: 0px 30px 0px 30px;
    font-size: 30px;
    }

  a {
    color: white;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
      text-decoration: none;
  }

  #mailStyle {
    color: white;
      text-shadow: none;
  }
  article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    color: white;
    }
    #forms {
      column-count: 2;
    }
  footer {
Color: white;
      display: block;
      background-color:  #4d004d;
  }
